.app{
    max-width: 80rem;
}
.container{
    width: 100%;
    display: flex;
}
.detail{
    flex : 1 1 70%;
}
.list{
    flex: 1 1 30%;
}
/* media file */
@media screen and (max-width:768px) { 
    .container{
        flex-direction: column;
    }
 }
